################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pipeline/tests/bin/Debug/netcoreapp2.0
